<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h2>Change Your Password</h2>
    
    <form id="changePasswordForm" action="/api/v1/auth/change-password?token=<%= token %>" method="post">
        <input type="hidden" id="token" name="token" value="<%= token %>">
        <input type="password" id="newPassword" name="password" placeholder="Enter New Password">
        <input type="password" id="confirmNewPassword" name="confirm_password" placeholder="Confirm New Password">
        <button type="submit">Change Password</button>
    </form>
    
    <form>
        <p> </p>
        <div id="notificationContainer"></div>
    </form>
    
    <script>
        const socket = io(); 

        socket.on('notification', (notificationData) => {
            const notificationContainer = document.getElementById('notificationContainer');
            const newNotification = document.createElement('div');
            newNotification.textContent = 'Notification: ' + notificationData.message;
            notificationContainer.appendChild(newNotification);
        });

        const handleSubmit = async (event) => {
            event.preventDefault();
            const password = document.getElementById('newPassword').value;
            const confirm_password = document.getElementById('confirmNewPassword').value;
            const token = document.getElementById('token').value;

            try {
                const response = await fetch(`/api/v1/auth/change-password?token=${token}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ password, confirm_password }),
                });

                const data = await response.json();
                console.log(data);
                if (data.status) {
                    alert(data.message); 
                    const notificationData = {
                        type: 'changePassword',
                        message: 'Password changed successfully. Please login with your new password.',
                    };
                    socket.emit('notification', notificationData);
                } else {
                    alert(data.message); 
                }
            } catch (error) {
                console.error('Error:', error);
            }
        };

        document.getElementById('changePasswordForm').addEventListener('submit', handleSubmit);
    </script>
</body>
</html>
