<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <!-- add favicon -->
  <link rel="icon" type="image/png" href="/resources/images/favicon.ico" />
  <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/resources/css/style.css" />

  <link rel="stylesheet" href="/resources/css/reset.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
  <script>
    const urlAPI = "<%= urlAPI %>";
    // ambil token dari param 
    const token = new URLSearchParams(window.location.search).get('token');

    // Function to handle actions after DOM content is loaded
    document.addEventListener('DOMContentLoaded', function() {
      if (token) {
        console.log('Token exists', token);
        // Add actions to be performed if token exists
      } else {
        console.log('Token does not exist');
        // Add actions to be performed if token does not exist
        // redirect to login page
        window.location.href = window.location.origin;
      }
    });
  </script>
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
      <!-- Left Box -->
      <div class="col-md-6 left-box rounded-4 d-flex flex-column justify-content-center align-items-center">
        <div class="row align-items-center">
          <div class="header-text mb-4">
            <h4 class="fw-bolder">Reset Your Password</h4>
            <div id="gantiPasswordAlert" class="alert alert-danger d-none" role="alert">
              <!-- Teks pesan kesalahan akan ditampilkan di sini -->
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" id="passwordBaru" class="form-control form-control-lg bg-light fs-6 rounded-pill" placeholder="Enter your new password" aria-describedby="togglePasswordBaru">
            <button class="btn btn-outline-secondary" type="button" id="togglePasswordBaru">
              <i class="bi bi-eye-slash"></i>
            </button>
          </div>
          <div class="input-group mb-3">
            <input type="password" id="konfirmasiPassword" class="form-control form-control-lg bg-light fs-6 rounded-pill" placeholder="Re-enter your new password" aria-describedby="toggleKonfirmasiPassword">
            <button class="btn btn-outline-secondary" type="button" id="toggleKonfirmasiPassword">
              <i class="bi bi-eye-slash"></i>
            </button>
          </div>
          <div class="input-group mb-1">
            <button type="submit" id="simpanPassword" class="btn btn-lg btn-primary w-100 fs-6 rounded-pill">Save</button>
          </div>
          <div class="input-group mb-3">
            <p class="text-wrap text-center fw-light">
              Please remember your new password, it will be used to authenticate yourself for the next login
            </p>
          </div>
        </div>
      </div>

      <!-- Right Box -->
      <div class="col-md-6 right-box rounded-4 d-flex flex-column justify-content-center align-items-center" style="background: whitesmoke">
        <div class="featured-image mb-3">
          <img src="/resources/images/logo-name.png" class="img-fluid" style="width: 250px;">
        </div>
        <h2 class="fw-bolder text-center">Don't worry,</h2>
        <h3 class="fw-bolder text-center">Let's continue your exploration</h3>
        <p class="text-wrap text-center fw-light">input your new password and continue your exploration through the impossible</p>
        <div class="featured-image">
          <img src="/resources/images/pass.jpg" class="img-fluid" style="width: 250px;">
        </div>
      </div>
    </div>
  </div>
  <!-- Animasi Loading -->
  <div id="loadingOverlay" class="overlay d-none">
    <div class="spinner-border text-1c0c41" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <!-- <script src="/resources/js/profile.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <script>
$(document).ready(function () {
    // Fungsi untuk mengubah visibilitas password
    function togglePasswordVisibility(inputId, buttonId) {
        const passwordInput = document.getElementById(inputId);
        const toggleButton = document.getElementById(buttonId);
        toggleButton.addEventListener('click', function () {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            toggleButton.querySelector('i').classList.toggle('bi-eye');
            toggleButton.querySelector('i').classList.toggle('bi-eye-slash');
        });
    }

    // Memanggil fungsi togglePasswordVisibility untuk setiap input password
    togglePasswordVisibility('passwordBaru', 'togglePasswordBaru');
    togglePasswordVisibility('konfirmasiPassword', 'toggleKonfirmasiPassword');

    $("#simpanPassword").click(function (event) {
        event.preventDefault();
        const password = $("#passwordBaru").val();
        console.log("passwordBaru:", password);
        const confirm_password = $("#konfirmasiPassword").val();
        console.log("konfirmasiPassword:", confirm_password);
        const endPointLogin = "/api/v1/auth/change-password";
        const updateProfile = urlAPI + endPointLogin;

        // Tampilkan overlay loading saat AJAX sedang berlangsung
        $("#loadingOverlay").removeClass("d-none");
        const data = {
            password: password,
            confirm_password: confirm_password
        }
        $.ajax({
            url: `${updateProfile}?token=${token}`, // Perhatikan penambahan token ke URL
            type: "POST",
            data: JSON.stringify(data),
            dataType: "json", // Ubah dataType menjadi "json"
            contentType: "application/json", // Tambah contentType
            success: function (data) {
                console.log("Data dari server (success):", data);
                if (data.status) {
                    console.log("true");
                    $("#gantiPasswordAlert")
                        .removeClass("alert-danger")
                        .addClass("alert-success")
                        .html(`<i class="fas fa-check-circle"></i> Password berhasil diubah, silahkan login.`)
                        .removeClass("d-none")
                        .css("background-color", "#28a745");
                    setTimeout(function () {
                        window.location.href = "/";
                    }, 3000);
                } else {
                    console.log("false");
                    // Tampilkan pesan error di dalam alert merah
                    $("#gantiPasswordAlert")
                        .removeClass("alert-success")
                        .addClass("alert-danger")
                        .html(`<i class="fas fa-exclamation-circle"></i>${data.err}, try again`)
                        .removeClass("d-none");
                }
            },

            error: function (xhr, status, error) {
                const errorData = xhr.responseJSON ? xhr.responseJSON : { message: "Failed to change password. Please try again later." };
                console.error("Change password error:", errorData);
                console.error("Data dari server (error) bawah:", errorData);
                // Tampilkan pesan error di dalam alert merah
                $("#gantiPasswordAlert")
                    .removeClass("alert-success")
                    .addClass("alert-danger")
                    .html(`<i class="fas fa-exclamation-circle"></i> Password doesnt match, Try again or Enter a minimum of 6 characters `)
                    .removeClass("d-none");
            },

            complete: function () {
                // Sembunyikan overlay loading setelah AJAX selesai
                $("#loadingOverlay").addClass("d-none");
            }
        });
    });
});

  </script>
</body>

</html>