@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root{
  --color-primary: #2B1260;
  --color-secondary: #FF7F0A;
}

html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.line-bold{
  background-color: #020202;
  color: #09070e;
  width: 16%;
  height: 5px;
  
  /* border: 2px solid black; */
}
.btn-login-modal{
  border-radius: 9999px;
  background-color: var(--color-primary);
  color: white;
}
.btn-login-modal:hover{
  background-color: #1c0c41;
  color: white;
}

.btn-login-modal-google{
  border-radius: 9999px;
  color: var(--color-secondary);
  border: solid 1px #333;
}
.btn-login-modal-google:hover{
  color: white;
  background-color: var(--color-secondary);
}

.btn-custom-login{
width: 100px;
padding: 15px 20px;
background-color: var(--color-primary);
text-align: center;
color: white;
text-decoration: none;
border-radius: 9999px;
}
.btn-custom-register{
  width: 100px;
  padding: 15px 50px;
  border: solid 1px #333;
  text-align: center;
  color: var(--color-secondary);
  text-decoration: none;
  border-radius: 9999px;
}

.group {
  position: relative;

 }
 .input-search {
  width: 150px;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px #333;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.group svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input-search:focus {
  opacity: 1;
  width: 250px;
}
 
.btn-custom-primary{
  background-color: var(--color-primary);
  color: white;
}
.btn-custom-secondary{
  color: var(--color-secondary);
 border-bottom: 1px solid var(--color-secondary);
}
.banner-section{
  background-color: #FF7F0A;
  color: white;
}
.text-footer{
  color: var(--color-secondary);
}


.sub-highlight{
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 5px;
}