@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --color-primary: #2b1260;
  --color-secondary: #ff7f0a;
}

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.line-bold {
  background-color: #020202;
  color: #09070e;
  width: 16%;
  height: 5px;

  /* border: 2px solid black; */
}
.btn-login-modal {
  border-radius: 9999px;
  background-color: var(--color-primary);
  color: white;
}
.btn-login-modal:hover {
  background-color: #1c0c41;
  color: white;
}

.btn-login-modal-google {
  border-radius: 9999px;
  color: var(--color-secondary);
  border: solid 1px #333;
}
.btn-login-modal-google:hover {
  color: white;
  background-color: var(--color-secondary);
}

.modal-body p {
  color: black; /* Atur warna teks menjadi hitam */
}


.btn-custom-login {
  width: 100px;
  padding: 15px 20px;
  background-color: var(--color-primary);
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 9999px;
}
.btn-custom-register {
  width: 100px;
  padding: 15px 50px;
  border: solid 1px #333;
  text-align: center;
  color: var(--color-secondary);
  text-decoration: none;
  border-radius: 9999px;
}

.group {
  position: relative;
}
.input-search {
  width: 150px;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px #333;
  transition: all 0.2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.group svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input-search:focus {
  opacity: 1;
  width: 250px;
}
.search-container {
  display: flex;
  align-items: center; /* Menyusun elemen secara vertikal */
}

.search-container .input-search {
  margin-right: 5px; /* Jarak antara kotak pencarian dan ikon bel */
}

.btn-custom-primary {
  background-color: var(--color-primary);
  color: white;
}
.btn-custom-secondary {
  color: var(--color-secondary);
  border-bottom: 1px solid var(--color-secondary);
}
.banner-section {
  background-color: #ff7f0a;
  color: white;
}
.text-footer {
  color: var(--color-secondary);
}

.sub-highlight {
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 5px;
}

.title {
  margin-bottom: 50px;
  text-transform: uppercase;
}

.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  box-shadow: none;
}

.card {
  font-size: 1em;
  overflow: hidden;
  padding: 5;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin-top: 20px;
}

#CarouselTest {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-inner {
  text-align: center;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  border-radius: 0;
}

.btn {
  margin-top: auto;
}

.register-btn {
  width: 100%;
}

.alert {
  background-color: #f74012;
  color: white; /* Warna teks putih */
  padding: 10px; /* Padding untuk menjaga teks dari dinding elemen */
  margin-bottom: 15px; /* Margin bawah untuk menjaga notifikasi terpisah dari elemen lain */
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* Transparan */
  z-index: 99999999; /* Lebih tinggi dari z-index modal */
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border {
  width: 5rem; /* Ukuran spinner */
  height: 5rem; /* Ukuran spinner */
  border-width: 0.5rem; /* Ketebalan border */
}

.text-1c0c41,
.text-ungu {
  color: #1c0c41;
}

.border-bottom-only {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.input-group-text {
  border-radius: 0;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
}

.input-group-text {
  border: none;
  background-color: transparent;
}

.nav-link {
  border: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease;
}

.nav-link.active,
.nav-link:hover {
  border-bottom-color: #000;
}

.kartu {
  border: none;
  border-bottom: 1px solid #dee2e6;
}

.card-text {
  text-align: justify; /* Rata kanan dan kiri */
}

.card img {
  width: 100%; /* Foto artikel menjadi full width */
  height: auto; /* Tetap menjaga aspek rasio gambar */
  border-radius: 0; /* Hilangkan border-radius yang membuat card */
}

.article-content {
  text-align: justify; /* Rata kanan dan kiri */
}
.article-image {
  width: 90% !important;
  border-radius: 10px !important;
}
.article-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow untuk kartu */
  border-radius: 10px; /* Border radius untuk kartu */
}

a:hover {
  border-bottom-color: #1c0c41;
  transition: border-color 0.3s;
}

/* CSS */
.search-header {
  text-align: center;
}



.search-title {
  margin: 0 auto; /* Untuk menengahkan judul */
  position: static;
}


.dropzone {
  width: 100%;
  height: 200px;
  border: 2px dashed #999;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#imagePreview img {
  width: 100%;
  height: 300px;
  object-fit:contain;
}

.select2-results__option {
    color: #000000 !important; /* Ganti dengan warna yang Anda inginkan */
}


.select2.select2-container.select2-container--default{
    width: 100% !important; /* Ganti dengan lebar yang Anda inginkan */
}
